<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Details</title>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <div class="main bg-zinc-900 w-full h-screen pt-14 pl-24 pr-24 text-white">
          <div class="p-1 bg-orange-500 text-white text-sm w-32 rounded-lg mb-5">
               <a href="/">Go Back To Home</a>
          </div>
          <h1 class="text-3xl font-bold mb-3 text-teal-500"><%= title %></h1>
          <p><%= data %></p>
     </div>
</body>
</html>
